.container {
  border: 1px solid black;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.child {
  border: 1px solid red;
  display: inline-block;
  width: 200px;
}